Python==3.9.16
torch==2.0.1
pandas==1.5.0
datasets==2.4.0
yaml==0.17.32
dvc==3.16.0
dvc-s3==2.23.0
dvc-gdrive
awscli==1.29.17
evaluate==0.4.0
transformers==4.31.0
xformers==0.0.21
pytreebank==0.2.7
uvicorn==0.23.2
argparse
